<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Alterar sua senha</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="input-group">
                <label for="old_password">Senha atual:</label>
                <input type="password" id="old_password" name="old_password" required>
            </div>
            <div class="input-group">
                <label for="new_password">Nova senha:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirmar nova senha:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit">Alterar senha</button>
            <p><a href="{{ url_for('home') }}">Voltar para a página principal</a></p>
        </form>
    </div>
</body>
</html>