<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <title>Editar Lembrete</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='editar.css') }}">
    
</head>
<body>
    <div class="main-container">
        <h2>Editar Lembrete</h2>
        <form method="POST">
            <div class="input-group">
                <label>Nome:</label>
                <input type="text" name="nome" value="{{ nome }}" required>
            </div>

            <div class="input-group">
                <label>Vencimento:</label>
                <input type="date" name="vencimento" value="{{ vencimento }}" required>
            </div>

            <div class="input-group">
                <label>Dias antes para aviso:</label>
                <input type="number" name="dias_antes" value="{{ dias_antes }}" required>
            </div>

            <button type="submit">Salvar Alterações</button>
        </form>
        <p class="back-link"><a href="/">Voltar</a></p>
    </div>
</body>
</html>