<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            <h2>Bem-vindo de volta!</h2> {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages-container">
                    {% for category, message in messages %}
                        {# Adicione uma condição para pular a mensagem específica na home #}
                        {% if request.path == '/' and message == 'Please log in to access this page.' %}
                            {# Não renderiza esta mensagem específica na home #}
                        {% else %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

            <form method="POST" action="{{ url_for('login') }}">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required autocomplete="email">
                </div>

                <div class="input-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required autocomplete="current-password">
                </div>

                <button type="submit">Entrar</button>

                <p class="forgot-password">
                    Não tem uma conta? <a href="{{ url_for('registrar') }}">Solicitar cadastro</a>
                </p>
            </form>
        </div>

        <div class="divider"></div>

        <div class="right-panel">
            <h1 class="logo-title">Notify<sup>®</sup></h1>
            <img src="{{ url_for('static', filename='cortex-ia - logo.png') }}" alt="Logo da Sua Empresa">
        </div>
    </div>
</body>
</html>